body {
    margin: 0;
    font-family: Arial;
}
#navigatie {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #444444;
}
#navigatieLijst{
    float: left;
    display: block;
    padding: 14px 16px;  
}
li a {
    color: #ffffff;
    text-decoration: none;
}
#Header1 {
    padding: 25px;
    text-align: center;
    background: #2699FB;
    color: #ffffff;
    font-size: 25px;
    
}
#maincontent {
    background-color: #F5F5F5;
    margin: 0;  
}
#secondarycontent {
    background-color: #F5F5F5;
    margin: 0;
}
.headers {
    background-color: #AAAA;
    color: #000000;
    padding: 5px 15px 5px 15px;
}
.artikel {
    padding: 0px 15px 5px 15px;
    border-style: groove;
    overflow: auto;
}
.footer1 {
    background-color: #444444;
    padding: 45px;
}
.grid{
    display:grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2em;
}
.grid > li{
    background: #2699FB;
    padding: 1em;
    
}
.grid li{
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 50px 0px;
}
.grid-artikel h3 {
    color: #ffffff;
    background-color: #444444;
    padding: 14px 16px;
    margin: 0;
}
.grid-artikel p {
    color: #fff;
    padding: 0px 15px 5px 15px;
    
}
#endfooter {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #444444;
}
#endfooter h4{
    text-align:center;
}
.grid-artikel img{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cookiebeleid--toggle, .cookiebeleid--container {
    display: none;
}

.cookiebeleid--toggle:checked ~ .cookiebeleid--container {
    display: block;
}
.cookiebeleid--container {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.cookiebeleid--content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid#888;
    width: 80%;
}
.cookiebeleid--toggle--text {
    padding: 14px;
    border: 2px solid#fff;
    background-color: #ccc;
    cursor: pointer;
}
#imgbazaar {
    width: 350px;
    height: auto;
    float: right;
    margin: 10px 0px 0px 10px;
    
}
#imgschaak {
    width: 300px;
    height: auto;
    float: left;
    margin: 5px 10px 5px 0px; 
}
#imgkerk{
    width: 200px;
    height: auto;
    float: right;
    margin: 5px;
    float: right;
}
#imgslot{
    width: 350px;
    height: auto;
    float: left;
    margin: 10px 10px 5px 0px;
}
aside{
    float: right;
}
