body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
}
.header{
    display: none;
}
.navigatie {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #444444;
}
.navigatieLijst{
    float: left;
    display: block;
    padding: 14px 16px;  
}
li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15pt;
}
#Header1 {
    padding: 25px;
    text-align: center;
    background: #2699FB;
    color: #ffffff;
    font-size: 25pt;
    font-family: Arial;
    
}
#maincontent {
    background-color: #F5F5F5;
    margin: 0;  
}
#secondarycontent {
    background-color: #F5F5F5;
    margin: 0;
}
.headers {
    background-color: #AAAA;
    color: #000000;
    padding: 5px 15px 5px 15px;
    font-size: 15pt;
}
.artikel {
    padding: 0px 15px 5px 15px;
    border-style: groove;
    overflow: auto;
    font-size: 15pt;
}
.footer1 {
    background-color: #444444;
    padding: 45px;
}
/*grid gebruikt voor de vele sport teksten*/
.grid{
    display:grid;
    grid-template-columns: 48% 48%;
    grid-gap: 2em;
}
.grid > li{
    background: #2699FB;
    padding: 1em;
    overflow: auto;
    
}
.grid li{
    list-style-type: none;
    margin: 0;
    padding-bottom: 50px;
}
.grid-artikel h3 {
    color: #ffffff;
    background-color: #444444;
    padding: 14px 16px;
    margin: 0;
    font-size: 20pt;
}
.grid-artikel p {
    color: #fff;
    padding: 0px 15px 5px 15px;
    font-size: 13pt;
}
#endfooter {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #444444;
    text-align:center;
    color: #ffffff;
}
.grid-artikel img{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*cookiestatemet*/
.cookiebeleid--toggle, .cookiebeleid--container {
    display: none;
}
.cookiebeleid--toggle:checked ~ .cookiebeleid--container {
    display: block;
}
.cookiebeleid--container {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.cookiebeleid--content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid#888;
    width: 80%;
}
.cookiebeleid--toggle--text {
    padding: 14px;
    border: 2px solid#fff;
    background-color: #ccc;
    
}
#imgbazaar {
    width: 350px;
    height: auto;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    
}
#imgschaak {
    width: 300px;
    height: auto;
    float: left;
    margin: 5px 10px 5px 0px; 
}
#imgkerk{
    width: 200px;
    height: auto;
    float: right;
    margin: 5px;
    float: right;
}
#imgslot{
    width: 350px;
    height: auto;
    float: left;
    margin: 10px 10px 5px 0px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #AAAA;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}
input[type=submit] {
  background-color: #fc1c85;
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  font-size: 13pt;
 }
input[type=submit]:hover {
  background-color: #f5426c;
}
#bericht {
  height: 200px;
}
#referalcontent p {
  padding: 0px 15px 5px 15px;
  font-size: 13pt;
  overflow: auto;
}
#footerreferal{
  background-color: #444444;
  padding: 20px;
}
#contactcontent{
  margin: 5px;
  font-size: 13pt;  
}
#video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
}
/*css voor tablet*/
@media only screen and (max-width: 768px){
    #maincontent {
        width: 100%;
    }
    #secondarycontent {
        width: 100%;
    }
    #sportconent {
        width: 100%;
    }
    #referalcontent{
        width: 100%;
    }
    .grid {
        width: 88%;
    }
    .grid img{
        width: 100%;
        height: auto;
    }
    .grid h3{
        width: 90%;
    }
    #referalcontent {
        width: 100%;
    }
    #contactcontent {
        width: 94%;
    }
    #video {
        width: 94%;
        height: auto;
        margin-left: 10px;
    }
    #endfooter {
        width: 96.4%;
    }
    .cookiebeleid--content {
        width: 80%;
        margin-left: 10px;
    }

}
/*css for mobiel*/
@media screen and (max-width : 500px) {    
    #maincontent {
        width: 100%;
    }
    #secondarycontent {
        width: 100%;
    }
    #sportconent {
        width: 100%;
    }
    #referalcontent{
        width: 100%;
    }
    .grid {
        width: 88%;
    }
    .grid img{
        width: 100%;
        height: auto;
    }
    .grid h3{
        width: 90%;
    }
    #referalcontent {
        width: 100%;
    }
    #contactcontent {
        width: 94%;
    }
    #video {
        width: 94%;
        height: auto;
        margin-left: 10px;
    }
    #endfooter {
        width: 96.4%;
    }
    .cookiebeleid--content {
        width: 80%;
        margin-left: 10px;
    }
    #Header1{
        display: none;
    }
    /*Ik heb de burger menu met de hulp van de tutoral van FollowAndrew*/
    .header{
        display:block;
        background-color:#2699FB;
        box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);  
        width:100%;
        z-index:3;
    }
    .header ul{
        margin:0;
        padding:0;
        list-style:none;
        overflow:hidden;
        background-color:#444444;
    }
    .header ul a{
        display:block;
        padding:20px;
        border-right:1px solid #aaa;
        text-decoration:none;
    }
    .header ul a:hover{
       background-color:#ddd; 
    }
    .header .logo{
        float:left;
        display:block;
        font-size:2em;
        padding:10px 20px;
    }
    .header .menu{
        clear:both;
        max-height:0;
        transition:max-height .2s ease-out;
    }
    .header .menu-icon{
        padding: 28px 20px;
        position:relative;
        float:right;
        cursor: pointer;
    }
    .header .menu-icon .nav-icon{
        background:#333;
        display:block;
        height:2px;
        width:18px;
        position:relative;
        transition:background .2s ease-out;
    }
    .header .menu-icon .nav-icon:before{
        background:#333;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition:all .2s ease-out;
        top:5px;  

    }
    .header .menu-icon .nav-icon:after{
        background:#333;
        content:"";
        display:block;
        height:100%;
        width:100%;
        position:absolute;
        transition:all .2s ease-out;
        top:-5px;  

    }
    .header .menu-btn{
        display:none;
    }
    .header .menu-btn:checked ~ .menu{
        max-height:240px;
    }

}